body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
.calculator {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.display {
    margin-bottom: 20px;
    background-color: #2e2e2e;
    color: #ffffff;
}
.display input {
    width: 100%;
    padding: 20px;
    font-size: 32px;
    text-align: right;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    color: white
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn {
    padding: 20px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3a3a3a;
    color: white;
    transition: background-color 0.4s ease;
    
}
.btn:hover {
    background-color: #575757;
}
.btn.operator {
    background-color: #ff9500;
    transition: color 0.5s ease;
}
.btn.operator:hover {
    background-color: #da8301;
    color: black;
}
.btn.equal {
    background-color: #28a745;
}
.btn.equal:hover {
    background-color: #218838;
}